{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;669;800;900&display=swap" rel="stylesheet">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!--Icon-->
    <link rel="icon" type="image/png" href="{% static 'sunflower.png' %}">

    <!--icon library-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Ferika's Personal Website</title>
  </head>

<body>
   
<!-- Navigation Bar -->
<div class="offset-1 col-10 text-center">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <a class="navbar-brand active" href="{% url 'personalwebsite:welcome' %}">Ferika <img src="{% static 'sunflower.png' %}" width="30px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'personalwebsite:index' %}#home">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'personalwebsite:index' %}#about">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'personalwebsite:index' %}#skill">Skills</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'personalwebsite:index' %}#experience">Experience</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'personalwebsite:index' %}#interest">Interest</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'personalwebsite:index' %}#hobby">Hobby</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'personalwebsite:index' %}#contact">Contact</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'personalwebsite:index' %}#hobby">Feedback</a>
            </li> 
            <li class="nav-item">
            <a class="nav-link" href="{% url 'story-1:index' %}">Story 1</a>    
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'storylima:listMatkul' %}">Story 5</a>    
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'storyenam:pilih' %}">Story 6</a>    
            </li>
        </ul>
        </div>
    </nav>
    </div>

    <!-- Block Main -->
    {% block main %} {% endblock main %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>