{% extends 'personalwebsite/base.html' %} {% load static %}
{% block main %}
    <!--Main Section-->
    <div class="container-fluid p-0" id="home">

    <!--Text Overlay on Slideshow-->
    <div class="centered text-center">
      <span id="ferika">Ferika</span> Hafshah Zahira<br>
      Information systems student
    </div>

    <!--Bootstrap Carousel Slideshow-->
    <div id="slideshow" class="carousel slide" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
          <li data-target="#slideshow" data-slide-to="0" class="active"></li>
          <li data-target="#slideshow" data-slide-to="1"></li>
          <li data-target="#slideshow" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
          <img src="{% static 'header1.jpg' %}" class="d-block w-100" alt="1st">
          </div>
          <div class="carousel-item">
          <img src="{% static 'header2.jpg' %}" class="d-block w-100" alt="2nd">
          </div>
          <div class="carousel-item">
          <img src="{% static 'header3.jpg' %}" class="d-block w-100" alt="3rd">
          </div>
      </div>
      <a class="carousel-control-prev" href="#slideshow" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#slideshow" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!--About section-->
  <section id="about" class="about">
    <div class="container mt-3 mb-5">
      <div class="row justify-content-center" id="flowers">
        <div class="col-md-12 text-center">
          <img id="atas" src="{% static 'flower.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
          <img id="atas" src="{% static 'flower.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
          <img id="atas" src="{% static 'flower.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
          <img id="atas" src="{% static 'flower.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
          <img id="atas" src="{% static 'flower.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
        </div>
      </div>
      <div class="row pt-5 justify-content-center">
        <div class="col-md-3">
          <img id="me" src="{% static 'me.png' %}" class="object-fit contain" width="80%" alt="me">
          <h2>About<br>Me</h2>
        </div>
        <div class="col-md-5">
          <h5>I am a 3rd semester student majoring in information systems. I am 19 years old. I’am just an ordinary human. </h5>
          <h5>We are not perfect human being, nor do we have to pretend to be, but it is necessary for us to be the best version of ourselves we can be.</h5>
        </div>
      </div>
    </div>
  </section>

  <!--Skill Section-->
  <section id="skill" class="skill">
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8 text-right">
          <h2>Things i’m good enough at</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
          <ul type="none">
            <li>
              <h4>Programming language</h4>
              Java | Python 
            </li>
            <br>
            <li>
              <h4>Others</h4>
              HTML | CSS
            </li>
            <br>
            <li>
              <h4>Self development</h4>
              Public speaking | Planning | Secretarial<br>
              Adaptability | Problem Solving | Communication
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!--Experiences section-->
  <section id="experience" class="experience">
    <div class="row justify-content-center" >
      <div class="col-md-12 text-center">
        <img src="{% static 'rose.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
        <img src="{% static 'rose.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
        <img src="{% static 'rose.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
        <img src="{% static 'rose.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
        <img src="{% static 'rose.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
      </div>
    </div>
      <div class="row mb-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
         <h2>Experiences</h2>
         <h6>Tap the sentence to see more about the event!</h6>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <button type="button" id="resume" class="btn btn-lg"><a href="https://drive.google.com/file/d/1PFrzM9OCXs9rnPuRlX-w1BKzFrDMfhq1/view?usp=sharing">Get my full resume</a></button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><a href="https://perak.cs.ui.ac.id/">Secretary of PERAK Fasilkom UI</a></td>
                <td>2019 - now</td>
              </tr>
              <tr>
                <td><a href="https://compfest.id/">Staff of  Stage Compfest Fasilkom UI</a></td>
                <td>2019 - now</td>
              </tr>
              <tr>
                <td><a href="https://oh.cs.ui.ac.id/">Staff of  Dankom Open House Fasilkom UI</a></td>
                <td>2020 - now</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-7">
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-lg"><a href="{% url 'personalwebsite:education' %}">See my educational backgroud</a></button>          
        </div>
      </div>
    </div>
  </section>

  <!-- Interest section-->
  <section id="interest" class="interest">
    <div class="container mt-5 mb-5">
      <div class="row mb-3">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
         <h2>Things i’m interested in</h2>
         <h5>Web development | Business</h5>
        </div>
      </div>
    </div>
  </section>

  <!-- Hobby Section-->
  <section id="hobby" class="hobby">
    <div class="container mb-5">
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <h2>Hobby</h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <h5>Badminton | Watch movies |  Hang out</h5>
        </div>
      </div>
      <div class="row" id="hobbies">
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="{% static 'hobby2.jpg' %}" alt="Card image cap">
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="{% static 'hobby1.jpg' %}"alt="Card image cap">
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="{% static 'hobby2.jpg' %}" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Feedback Section-->
  <section id="feedback" class="feedback">
    <div class="container mt-5 text-center">
      <div class="row justify-content-center" id="flowers">
        <div class="col-md-12 mb-3 text-center">
          <img src="{% static 'pinkeu.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
          <img src="{% static 'pinkeu.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
          <img src="{% static 'pinkeu.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
          <img src="{% static 'pinkeu.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
          <img src="{% static 'pinkeu.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
        </div>
      </div>
      <h2>Please give me your feedback about my website <a href="https://secreto.site/id/16116678">here</a>.</h2>
      <h5>Or contact me below.</h5>
    </div>
  </section>

    <!-- Footer -->
    <!--contact section-->
    <footer class="contact" id="contact">
      <div class="container mt-5 pt-3">
      <div class="row justify-content-center">
          <div class="col text-center">
          <h2>Contact</h2> 
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
          <a href="https://www.facebook.com/ferikahafshah.zahira"><img src="{% static 'facebook.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          <a href="https://www.instagram.com/ferikahafsz/"><img src="{% static 'instagram.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          <a href="https://twitter.com/ferikazahira"><img src="{% static 'twitter.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          <a href="https://www.linkedin.com/in/ferika-hafshah-zahira-b352551aa"><img src="{% static 'linkedin.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          <a href="mailto:ferika.hafshah@gmail.com"><img src="{% static 'gmail.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          </div>
      </div>
      <div class="row">
          <divc class="col text-center">
          <p>Just click the icon so you can go to my social media</p>
          <h6> Copyright © 2020 Ferika, All Rights Reserved</h6>
          </div>
      </div>
      </div>
  </footer>

{% endblock main %}