{% extends 'personalwebsite/base.html' %} {% load static %}
{% block main %}
<!--EDUCATION SECTION-->
<section class="education" id="education">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center mt-5" id="flowers">
      <div class="col-md-12 text-center">
        <img src="{% static 'flower.png' %}" class="object-fit-contain" alt="~" width="60px">&emsp;
        <img src="{% static 'flower.png' %}"  class="object-fit-contain" alt="~" width="60px">&emsp;
        <img src="{% static 'flower.png' %}"  class="object-fit-contain" alt="~" width="60px">&emsp;
        <img src="{% static 'flower.png' %}"  class="object-fit-contain" alt="~" width="60px">&emsp;
        <img src="{% static 'flower.png' %}"  class="object-fit-contain" alt="~" width="60px">&emsp;
      </div>
    </div>
    <div class="row mb-3" id="judul">
      <div class="col-md-12 text-center">
        <h2>Ferika's Educational Background</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mt-2">
        <div class="card" id="pink">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <img src="{% static 'fasilkom.png' %}"  class="rounded float-left object-fit-contain"width="69px" alt="...">
              </div>
              <div class="col">
                <h5 class="card-title">Universitas Indonesia</h5>
                <p class="card-text">2019 - Now</p>
                <a href="https://www.ui.ac.id/en/" class="btn btn-info">Go there</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-2">
        <div class="card" id="hijau">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <img src="{% static 'smaku.png' %}"  class="rounded float-left object-fit-contain"width="69px" alt="...">
              </div>
              <div class="col">
                <h5 class="card-title">SMAN 1 Bekasi</h5>
                <p class="card-text">2016 - 2019</p>
                <a href="https://www.sman1bekasi.sch.id/" class="btn btn-info">Go there</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mt-2">
        <div class="card" id="pink">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <img src="{% static 'smpku.png' %}"  class="rounded float-left object-fit-contain"width="69px" alt="...">
              </div>
              <div class="col">
                <h5 class="card-title">SMPN 3 Bekasi</h5>
                <p class="card-text">2013 - 2016</p>
                <a href="https://smpn3kotabekasi.sch.id/" class="btn btn-info">Go there</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-2">
        <div class="card" id="hijau">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <img src="{% static 'sd.png' %}"  class="rounded float-left object-fit-contain"width="69px" alt="...">
              </div>
              <div class="col">
                <h5 class="card-title">SDN Aren Jaya 10</h5>
                <p class="card-text">2007-2013</p>
                <a href="http://sekolah.data.kemdikbud.go.id/index.php/chome/profil/60b1a005-2df5-e011-8f63-8df10865db66" class="btn btn-info">Go there</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Footer -->
    <!--contact section-->
    <footer class="contact" id="contact">
      <div class="container mt-5 pt-3">
      <div class="row justify-content-center">
          <div class="col text-center">
          <h2>Contact</h2> 
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">
          <a href="https://www.facebook.com/ferikahafshah.zahira"><img src="{% static 'facebook.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          <a href="https://www.instagram.com/ferikahafsz/"><img src="{% static 'instagram.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          <a href="https://twitter.com/ferikazahira"><img src="{% static 'twitter.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          <a href="https://www.linkedin.com/in/ferika-hafshah-zahira-b352551aa"><img src="{% static 'linkedin.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          <a href="mailto:ferika.hafshah@gmail.com"><img src="{% static 'gmail.png' %}" class="object-fit-contain" alt="~" width="40px"></a>&emsp;
          </div>
      </div>
      <div class="row">
          <divc class="col text-center">
          <p>Just click the icon so you can go to my social media</p>
          <h6> Copyright © 2020 Ferika, All Rights Reserved</h6>
          </div>
      </div>
      </div>
  </footer>
{% endblock main %}