{% extends 'personalwebsite/base.html' %} {% load static %}

{% block main %}
  <!--Text Section-->
    <div class="text-align-center" id="welcome" <a href="{% url 'personalwebsite:index' %}"></a>
      <div class="centered" id="first">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-11">
            <a href="{% url 'personalwebsite:index' %}">
              <p class="wadah-mengetik">
                Hello there,<br>This is Ferika's personal website<br>Want to know more about Ferika?<br>Just tap me!<br>
              </p>
            </a>
          </div>
        </div>
      </div>
      <img src="{% static 'rerumputan.png' %}" class="yumput" width="100%">
    </div>

{% endblock main %}