{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;669;800;900&display=swap" rel="stylesheet">

    <style>
      body {
        background-color: #FFFEDF;
        font-family: 'Playfair Display', serif;
      }
      a {
      color: blanchedalmond;
      }
      #back a{
        color: brown;
      }
    </style>

    <title>List Mata Kuliah</title>
  </head>
  <body>

    <div class="row mt-2 mb-3 justify-content-center">
      <div class="col text-center">
        <button id="back" type="button" class="btn btn-outline-warning"><a href="{% url 'personalwebsite:welcome' %}">Kembali ke halaman utama</a></button>
      </div>
    </div>

    <br>

    <h1 style="text-align: center;">{{page_title}}</h1>
    <div class="row mt-2 mb-3">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Nama Matkul</th>
                    <th scope="col">Nama Dosen</th>
                    <th scope="col">Jumlah SKS</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Ruang Kelas</th>
                    <th scope="col">Deskripsi</th>
                    <th scope="col">Hapus</th>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <th>{{post.nama_matkul}}</th>
                        <th>{{post.nama_dosen}}</th>
                        <th>{{post.jumlah_sks}}</th>
                        <th>{{post.semester}}</th>
                        <th>{{post.ruang_kelas}}</th>
                        <th>{{post.deskripsi}}</th>
                        <th><a class="btn btn-danger" href="{% url 'storylima:delete' post.id  %}">Delete</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="col-md-1"></div>
  </div>
  <div class="row mb-3 justify-content-center">
    <div class="col text-center">
      <button type="button" class="btn btn-dark"><a href="{% url 'storylima:add' %}">Tambah Jadwal</a></button>
    </div>
  </div>

 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>




