{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Story 1 PPW</title>
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet"> 
    <style>
        body{
            background-color: #38ab92;
            color: #f6ffa8;
            font-family: 'Gabriela', serif;
        }

        figure {
            background-color: #ffd6e3;
            display: block;
            width: 800px;
            margin-right: auto;
            margin-left: auto;
            border: 4px solid #8c003a;
            border-radius: 10px;
        }

        .judul {
            color: rgb(231, 245, 108);
            text-shadow: 2px 2px 2px #2a3e80;
            font-size: large;
        }

        .profil {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count : 2;
            tab-size: 4ch;
        }
        
        .Image {
            margin-bottom: 10px;
        }

        .Image img {
            display: block;
            border-radius: 10px;
            border: 4px solid #4a3a94;
        }

        .data {
            display: block;
            border-radius: 10px;
            border: 4px solid #4a3a94;
            margin-right: 20px;
            background-color: #979edd;
        }
      
        .about {
            color: #a80924;
        }

        .about h4 {
            color: #496fab;
            text-shadow: #dd4a1d;
        }

        .edu table {
            border-collapse: collapse;
        }

        .edu th, td {
            padding: 10px;
            
        }
        .edu th {
            background-color:#4a3a94;
            color:#fcf797;
            border: 3px solid brown;
        }
        .edu td {
            background-color: #fcf797;
            color: #112a97;
            border: 3px solid brown;
        }

        .edu h3 {
            color: #fcf797;
            text-shadow: 2px 2px 2px #a80924;
        }

        .contact {
            display: block;
            border-radius: 10px;
            border: 4px solid #4a3a94;
            margin: 100px;
            margin: 70px;
            margin-top: 10px;
            background-color:#9dc6f5;
            border: 4px solid #8c003a;
        }

        .contact p {
            color: #112a97;
        }

        h3 {
            color: #fcf797;
            text-shadow: 2px 2px 2px #112a97;
        }
        .button {
            border: none;
            color: rgb(255, 255, 255);
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-right: auto;
            }

            .button1 {
            background-color: rgb(248, 147, 177);
            color: rgb(255, 255, 255);
            border: 4px solid #690041;
            }

            .button1:hover {
            background-color: #3cb9f3;
            color: white;
            }

            .button a {
                color: rgb(255, 255, 255);
            }
        
    </style>
  </head>

  <body background="{% static 'beach.jpg'%}">
    <figure>
        <div class="judul" align="center">
            <h2><br>My Profile</h2>
        </div> 
        <div class="profil">
            <div class="Image" align="center">
                <img  src="{% static 'profil.jpg'%}" width="250px" alt="" align="center">
            </div>
            <div class="data">
                <table border="0px">
                    <tr>
                        <td>Name </td>
                        <td>: Ferika Hafshah Zahira</td>
                    </tr>
                    <tr>
                        <td>NPM </td>
                        <td>: 1906298903</td>
                    </tr>
                    <tr>
                        <td>Class of</td>
                        <td>: 2019</td>
                    </tr>
                    <tr>
                        <td>University</td>
                        <td>: Universitas Indonesia</td>
                    </tr>
                    <tr>
                        <td>Hobby</td>
                        <td>: Watch films</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="about" align="center">
            <h4>About me</h4>
            <h5>Hello everyone, you can call me Ferika. I am 19 years old.<br> I was born in Bekasi on 1<sup>st</sup> of january 2001.<br> I am a 3<sup>rd</sup> semester student majoring in information systems.<br>
                I have a cat named kichi, his color is full black. I am very entertained when I play with him.</h5>
        </div>
        <div class="edu" align="center">
            <table>
                <h3>Educational Background</h3>
                <tr>
                    <th>School</th>
                    <th>Year</th>
                </tr>
                <tr>
                    <td>University of Indonesia </td>
                    <td>2019 - Now</td>
                </tr>
                <tr>
                    <td>SMAN 1 Bekasi</td>
                    <td>2016 - 2019</td>
                </tr>
                <tr>
                    <td>SMPN 3 Bekasi</td>
                    <td>2013 - 2016</td>
                </tr>
                <tr>
                    <td>SDN Aren Jaya 10</td>
                    <td>2017 - 2013</td>
                </tr>
            </table>
        </div>

        <h3 align="center">Contact</h3>
        <div class="contact" align="center">
            <br>
            <a href="https://www.instagram.com/ferikahafsz"><img src="{% static 'instagram.png'%}"></a>
            <a>&emsp;</a>
            <a href="https://twitter.com/ferikazahira"><img src="{% static 'twitter.png'%}"></a>
            <a href="mailto:ferika.hafshah@ui.ac.id"><img src="{% static 'email.png'%}"></a>
            <p>Instagram : ferikahafsz |Twitter: ferikazahira | E-mail : ferika.hafshah@ui.ac.id</p>
            <h6>Just click the logo to visit my social media <br></h6>
        </div>
        
    </figure>

    <button class="button button1"><a href="{% url 'personalwebsite:welcome' %}">Go back to main page</a></button><br>
    </body>
</html>
